#drawing {
    position: absolute;
}
.floor1 {
    position: absolute;
}
.floor2 {
    position: absolute;
}
.caret {
    display: none !important;
}
.search {
    position: fixed;
}

.btn-group {
    width: 100%;
}

.main {
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: auto;
}

.form {
    position: relative;
    width: 250px;
    padding-top: 10px !important;
    padding-bottom: 10px;
}

#spinner {
    position: fixed;
    visibility: hidden;
}

.xyz { 
    position: fixed;
    background-size: auto; 
    text-align: center; 
    padding-top: 100px; 
} 
.btn-circle.btn-sm {
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 15px; 
    text-align: center; 
} 
.btn-circle.btn-xl {
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 
.btn-circle {
    margin: 3px;
}

.floatingButtons {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    display: block;
    color: #fff; 
    text-decoration: none; 
    padding: 6px 15px;
    font-size: 17px;}

.fixedbut:hover { background: #222; }

.room {
    width: 25%;
    height: 25%;
    right: 0;
    position: absolute;
    padding-bottom: 40px;
}

.container {
    width: auto !important;
}

.list-group {
    padding-bottom: 0px !important;
}

#numberRoom {
    align: center;
    margin-left: 110px;
    margin-bottom: 40px;
}
#workers {
    margin: 0 auto;
    margin-top: 50px;
}